<div class="container">
<!-- mosaic of meals -->
  <div class="cards_and_map_container">
    <div class="cards_container">

      <% @gardes.each do |garde| %>
        <!-- <div class="box col-6"> -->

            <div class="meal-card">

              <div class="meal-card-content">
                <div class="meal-card-title-and-category">
                  <div class="meal-card-title"><h4><%= garde.name %></h4></div>
                  <div class="meal-card-title"><h4><%= garde.address %></h4></div>
                </div>
                  <div class="meal-card-attributes d-flex align-items-end">
                    <div class="d-flex align-items-center">
                      <span><%= garde.quantity_max %></span>
                      <i class="material-icons ml-1">people</i>

                    </div>


                  </div>
                </div>
              </div>
            <% end %>

        </div>
      <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
</div>
