<div class="meal-banner" >
</div>

<div class="container">
  <div class="meal-main-container">
    <div class="left-content">
      <!-- div titre + photo <-->
       <div class="d-flex justify-content-between">
        <div>
          <h1><%= @garde.name.capitalize %></h1>
        </div>

      </div>

      <div class="meal-info-details">
        <% if @garde.user == current_user %>
          <p>Proposé par: Moi</p>
          <% else %>
          <p>Proposé par <%= @garde.user.username %> </p>
          <% end %>
        <p>Description: <%= @garde.description %> </p>
        <% if @garde.quantity_max != nil %>
        <p> Nombre de personnes max : <%= @garde.quantity_max %> </p>
        <p>Adresse: <%= @garde.address %> </p>
        <p>Contact: <%= @garde.contact %> </p>
        <p>Date: <%= @garde.start_availability_date %> </p>
        <% end %>


      </div>


    </div>
    <!-- div photo + nom -->
    <div class="right-content">

      <% if @garde.user != current_user %>
        <div class="checkout card p-3">

            <%= simple_form_for(@reservation) do |f| %>
              <%= hidden_field_tag :garde_id, @garde.id %>
              <%= f.input :pick_up_date %>
              <%= f.input :reservation_quantity %>
              <%= f.button :submit, class: "button" %>
            <% end %>
          <% else %>

        </div>
      <% end %>

    </div>
  </div>
  <div class="choix">
  <div class="go-back-bouton">
  <%= link_to "Retour aux services", gardes_path %>
  </div>
  <% if @garde.user == current_user %>
  <p><%= link_to "Modifier", edit_garde_path(@garde), class:"btn btn-outline-dark" %>
  <% end %>

  </p>
</div>
  <!-- div left content -->
</div>
